AWS_REGION=us-east-1
DYNAMODB_ENDPOINT_URL=http://dynamodb-local:8000
USERS_TABLE=mundial-users
BRACKETS_TABLE=mundial-brackets
MATCHES_TABLE=mundial-matches
ENVIRONMENT=local
REDIS_ENDPOINT=localhost
REDIS_PORT=6379
JWT_ISSUER=
COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=
